.webfs-explorer__directory {
  border-top: 2px solid #222;
}

.webfs-explorer__list-item {
  --color: #222;
  font-size: 18px;
  text-decoration: none;
  color: var(--color);
}

.webfs-explorer__list-item:visited {
  color: var(--color);
}

.webfs-explorer__list-content {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid #222;
}

.webfs-explorer__list-content:hover {
  background-color: #ddd;
}
